.messages_wrap{
	z-index: 1006;
}
.page_loader{
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/page_loader.GIF");
}
#loader{
	display: none !important;
}
.mirroring::before{
	background: url("../images/ie_gradient_feedback.png") repeat-x center bottom !important;
}